<!-- Moves: <strong>{{moves}}</strong>
<p> -->
<hr>
  <div>
    <label for="input-file">Select a Maze file:</label>&nbsp;
    <input type="file" id="input-file" (change)="handleFileChange($event)">
   </div>
   
  
  <hr>
  Maze selector:
<ul>
  <li *ngFor="let mazeItem of availableMazes" [ngClass]="{selectCell : mazeItem.isSelected}" 
  (click)="selectMaze(mazeItem)" >{{mazeItem.name}}</li>
</ul>

<hr>

{{titleSelectedMaze}} Maze:
<table *ngIf="selectedMaze" 
tabindex="1"
[ngClass]="{mazeclicked : mazeclicked==true}"
>
  <tr *ngFor="let row of selectedMaze ">
    <td *ngFor="let cel of row" [ngClass]="{selectCell : cel == 'S' || cel == 'E', currentCell : cel == 'o'}" >{{cel}}</td>
  </tr>
</table>

