label {
  cursor: pointer;
}

textarea {
  background-color: navy;
  color: tomato;
  width: 400px;
  height: 250px;
  font-size: xx-large;
}

table{
  border: 1px solid;
  border-color: black;
  margin: 0;
}

td{
  padding: 0px;
  // spacing: 0;
  border: 0px;
  text-align: center;
}

li:hover{
  background-color: navy;
  color: white;
  font-weight: bold;
  padding: .5rem;
  cursor: grabbing;
}

.currentCell{
  background-color: greenyellow;
  padding-left: 2px;
  padding-right: 2px;
}

.selectCell{
  background-color: yellow;
}

.mazeclicked{
  background-color: white;
}

.sucess{
  background-color: tomato;
  text-align:center;
  padding: 2rem;
  font-weight: 600;
  height: 2rem;
}

.boldMov{
  font-weight: bolder;
  text-align: center;
  background-color: greenyellow;
  padding: .3rem;
}

